@page
@using Blossom_BusinessObjects.Entities.Enums
@model Blossom_RazorWeb.Pages.OrderHistory.OrderHistoryModel
@{
}
@if (TempData["Error"] != null)
{
    <script type="text/javascript">
        toastr.warning('@TempData["Error"]');
    </script>
}
@if (TempData["Success"] != null)
{
    <script type="text/javascript">
        toastr.success('@TempData["Success"]');
    </script>
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Fruitables - Vegetable Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">


    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
    <link href="~/css/OrderHistory.css" rel="stylesheet" />
</head>
<body>
    <section class="bread-crumb"
             style="background-image: url('/assets/images/banner_home.jpg')">
        <div class="container">
            <div class="title-breadcrumb">Lịch sử đặt hàng</div>
            <ul class="breadcrumb">
                <li class="home">
                    <a class="home-link" asp-page="/Index"><span>Trang chủ</span></a>
                    <span class="mr_lr">
                        &nbsp;
                        <svg aria-hidden="true"
                             focusable="false"
                             data-prefix="fas"
                             data-icon="chevron-right"
                             role="img"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 320 512"
                             class="svg-inline--fa fa-chevron-right fa-w-10">
                            <path fill="currentColor"
                                  d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"
                                  class=""></path>
                        </svg>
                        &nbsp;
                    </span>
                </li>
                <li>
                    <strong><span>Lịch sử đặt hàng</span></strong>
                </li>

            </ul>
        </div>
    </section>


    <section class="container section-order-history" style="padding: 3rem 0">
        <div class="order-history">

            <!-- Order Card -->
            <article class="card mt-5">
                @foreach(var item in Model.OrderDetails)
                {
                    <div class="card-body">
                        <h6 class="mb-4">
                            <span class="fw-bold text-black">Mã đơn hàng:</span>
                            <span class="primary-color"> #@item.Order.Id</span>
                        </h6>

                        <div class="card product-info">
                            <div class="card-body row">
                                <div class="col">
                                    <span class="fw-bold text-black">Thông tin sản phẩm</span>
                                    <figure class="itemside mb-3">
                                        <div class="aside">
                                            <img src="@item.Flower.ImageUrl" class="img-sm border" />
                                        </div>
                                        <figcaption class="info align-self-center">
                                            <p class="title">@item.Flower.Name <br />x @item.Quantity</p>
                                            <span class="text-black">@item.Price</span>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="col">
                                    <strong class="fw-bold text-black">Địa chỉ giao hàng</strong> <br />
                                    <span class="text-black">@item.Order.BuyerAddress</span>
                                </div>
                                <div class="col">
                                    <strong class="fw-bold text-black">SĐT người nhận</strong> <br />
                                    <span class="text-black">@item.Order.BuyerPhone</span>
                                </div>
                                <div class="col">
                                    <strong class="fw-bold text-black">Tên người nhận</strong> <br />
                                    <span class="text-black">@item.Order.BuyerName</span>
                                </div>
                                <div class="col">
                                    <strong class="fw-bold text-black">Thanh toán</strong> <br />
                                    <span class="text-black">@item.PaymentMethod</span>
                                </div>
                                <div class="col">
                                    <strong class="fw-bold text-black">Ngày đặt hàng</strong> <br />
                                    <span class="text-black">@item.Order.CreatedAt</span>
                                </div>
                            </div>
                        </div>

                        <!-- Tracking Steps -->
                        <div class="track text-black">
                            <div class="step active">
                                @if (item.Status == OrderDetailStatus.PENDING)
                                {
                                    <span class="icon"> <i class="fa fa-check"></i> </span>
                                    <span class="text">ĐANG CHUẨN BỊ HÀNG</span>
                                }
                                @if (item.Status == OrderDetailStatus.SHIPPED)
                                {
                                    <span class="icon"> <i class="fa fa-check"></i> </span>
                                    <span class="text">ĐANG VẬN CHUYỂN TỚI BẠN</span>
                                }
                                @if (item.Status == OrderDetailStatus.CANCELED)
                                {
                                    <span class="icon"> <i class="fa fa-times-circle"></i> </span>
                                    <span class="text">ĐÃ HỦY</span>
                                }
                            </div>
                        </div>
                        @if (item.Status == OrderDetailStatus.PENDING)
                        {
                            <!-- Buttons -->
                            <div class="d-flex justify-content-center align-items-center">
                                <div style="padding:10px">
                                    <form method="post" asp-page-handler="CancelOrder">
                                        <input type="hidden" name="orderDetailId" value="@item.Id" />
                                        <button type="submit" class="btn btn-danger">Huỷ đơn hàng</button>
                                    </form>
                                </div>
                                
                            </div>
                        }
                        @if (item.Status == OrderDetailStatus.SHIPPED)
                        {
                            <div style="padding:10px">
                                <form method="post" asp-page-handler="DeliveredOrder">
                                    <input type="hidden" name="DeliveredOrder" value="@item.Id" />
                                    <button type="submit" class="btn btn-success">Xác nhận đã nhận hàng</button>
                                </form>
                            </div>
                        }
                    </div>
                }
            </article>
            
        </div>
        <div style="margin-top: 10px">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item @(Model.PageIndex == 1 ? "disabled" : "")">
                        <a class="page-link" href="?PageIndex=@(Model.PageIndex - 1)">Previous</a>
                    </li>
                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                            <a class="page-link" href="?PageIndex=@i">@i</a>
                        </li>
                    }
                    <li class="page-item @(Model.PageIndex == Model.TotalPages ? "disabled" : "")">
                        <a class="page-link" href="?PageIndex=@(Model.PageIndex + 1)">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>

</body>
