@page
@model Blossom_RazorWeb.Pages.CartItemModel
@{
}
<section class="bread-crumb"
         style="background-image: url('/assets/images/banner_home.jpg')">
    <div class="container">
        <div class="title-breadcrumb">Giỏ hàng của tôi</div>
        <ul class="breadcrumb">
            <li class="home">
                <a class="home-link" asp-page="/Index"><span>Trang chủ</span></a>
                <span class="mr_lr">
                    &nbsp;
                    <svg aria-hidden="true"
                         focusable="false"
                         data-prefix="fas"
                         data-icon="chevron-right"
                         role="img"
                         xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 320 512"
                         class="svg-inline--fa fa-chevron-right fa-w-10">
                        <path fill="currentColor"
                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"
                              class=""></path>
                    </svg>
                    &nbsp;
                </span>
            </li>
            <li>
                <strong><span>Giỏ hàng</span></strong>
            </li>

        </ul>
    </div>
</section>

    @if (Model.CartItem.Count() > 0)
    {
        <div class="container-fluid py-5">
            <div class="container py-5">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Products</th>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                                <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CartItem)
                            {
                                @if(item.Quantity > 0)
                                {
                                    <tr>
                                        <th scope="row">
                                            <div class="d-flex align-items-center">
                                                <img src="@item.Flower.ImageUrl" class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt="">
                                            </div>
                                        </th>
                                        <td>
                                            <p class="mb-0 mt-4 text-black">@item.Flower.Name</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4 text-black">@item.Flower.Price.ToString("N0")đ</p>
                                        </td>
                                        <td>
                                            <div class="input-group quantity mt-4" style="width: 100px;">
                                                <div class="input-group-btn">
                                                    <div class="input-group">
                                                        <form method="post" asp-page-handler="DecreaseCartItems">
                                                            <input type="hidden" name="flowerId" value="@item.Flower.Id" />
                                                            <button class="btn btn-sm btn-minus rounded-circle bg-light border">
                                                                <i class="fa fa-minus text-black"></i>
                                                            </button>
                                                        </form>

                                                        <input type="text" class="form-control form-control-sm text-center border-0" value="@item.Quantity" readonly />

                                                        <form method="post" asp-page-handler="IncreaseCartItems">
                                                            <input type="hidden" name="flowerId" value="@item.Flower.Id" />
                                                            <button class="btn btn-sm btn-plus rounded-circle bg-light border">
                                                                <i class="fa fa-plus text-black"></i>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4 text-black">@((item.Quantity * item.Flower.Price).ToString("N0"))đ</p>
                                        </td>
                                        <td>
                                            <form method="post" asp-page-handler="DeleteCartItems">
                                                <input type="hidden" name="flowerId" value="@item.Flower.Id" />
                                                <button class="btn btn-md rounded-circle bg-light border mt-4">
                                                    <i class="fa fa-times text-danger"></i>
                                                </button>
                                            </form>
                                        </td>

                                    </tr>

                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="row my-5">
                    <div class="col-md-6 col-sm-12 mb-5">
                        <div class="row mb-5">
                            <div class="col-md-6 mb-3 mb-md-0">
                                <a asp-page="Products/Index"
                                        class="fw-bold">
                                    Tiếp tục mua sắm
                                </a>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <label class="text-black h4">Xóa giỏ hàng</label>
                                <p>Nhấn nút dưới đây để xoá giỏ hàng</p>
                            </div>
                            <div class="col-md-12">
                            <form method="post" asp-page-handler="ClearCart">
                                <button class="btn btn-danger">
                                    Xóa giỏ hàng
                                </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-5">
                        <div class="row justify-content-end">
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-12 text-right border-bottom mb-5">
                                        <h3 class="text-black h4 text-uppercase">Tổng giỏ hàng</h3>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <span class="text-black">Tạm tính</span>
                                    </div>
                                    <div class="col-md-6 text-right">
                                    <strong class="text-black">@(Convert.ToDecimal(Model.TotalPrice).ToString("N0"))₫</strong>
                                    </div>
                                </div>
                                <div class="row mb-5">
                                    <div class="col-md-6">
                                        <span class="text-black">Tổng cộng</span>
                                    </div>
                                    <div class="col-md-6 text-right">
                                    <strong class="text-black">@(Convert.ToDecimal(Model.TotalPrice).ToString("N0"))₫</strong>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <a     asp-page="Order"
                                                class="btn btn-success py-3"
                                                style="padding: 20px">
                                            Tiến hành đặt hàng
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
} else
{
    <div class="container my-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <span class="icon-shopping-cart h1 d-block"></span>
                <img class="mb-5"
                     width="160"
                     src="/assets/images/empty-cart-svg.svg"
                     alt="" />
                <h4 class="text-black mb-5">Your cart is currently empty.</h4>
                    <a asp-page="/Products/Index" style="font-size: 16px"
                            class="primary-color btn btn-danger"
                            >
                        Return to shop
                    </a>
            </div>
        </div>
    </div>
}
