@page
@model Blossom_RazorWeb.Pages.Wallet.IndexModel
@using Blossom_BusinessObjects.Enums;
@{
}
<section class="bread-crumb"
         style="background-image: url('/assets/images/banner_home.jpg')">
    <div class="container">
        <div class="title-breadcrumb">Ví của tôi</div>
        <ul class="breadcrumb">
            <li class="home">
                <a class="home-link" asp-page="/Index"><span>Trang chủ</span></a>
                <span class="mr_lr">
                    &nbsp;
                    <svg aria-hidden="true"
                         focusable="false"
                         data-prefix="fas"
                         data-icon="chevron-right"
                         role="img"
                         xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 320 512"
                         class="svg-inline--fa fa-chevron-right fa-w-10">
                        <path fill="currentColor"
                              d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"
                              class=""></path>
                    </svg>
                    &nbsp;
                </span>
            </li>
                <li>
                    <strong><span>Ví của tôi</span></strong>
                </li>
            
        </ul>
    </div>
</section>

<section class="container section-wallet" style="padding-top: 5rem">
    <div class="wallet rounded shadow-sm">
        <div class="wallet-header text-white">
            <div class="row p-5">
                <div class="col-lg-4 col-md-12">
                    <h5 class="text-white mb-3 text-center">
                        Số dư
                    </h5>
                    <h2 class="text-white text-center">
                        @Model.accountBalance.ToString("N0")₫
                    </h2>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="d-flex flex-column align-items-center">
                        <img asp-page="AddBalance"
                             width="50"
                             style="color: white; cursor: pointer"
                             src="/assets/images/wallet-plus.svg"
                             alt="Wallet Plus" />
                        <a asp-page="AddBalance" class="text-white fw-bold">
                            Nạp tiền
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="d-flex justify-content-center">
                        <img width="50"
                             src="/assets/images/wallet-payment-svg.svg"
                             alt="User Profile"
                             class="rounded-circle" />
                    </div>
                </div>
            </div>
        </div>

        <div class="content p-4">
            <div class="transactions">
                <h6 class="t-desc">Giao dịch gần đây</h6>
                @foreach (var log in Model.WalletLogs)
                {
                    var statusClass = log.Type switch
                    {
                        WalletLogTypeEnum.SUBTRACT => "text-danger",
                        WalletLogTypeEnum.WITHDRAW => "text-danger",
                        WalletLogTypeEnum.ADD => "text-success",
                        WalletLogTypeEnum.DEPOSIT => "text-success",
                        _ => "text-dark"
                    };

                    var amountText = (log.Status == WalletLogStatusEnum.SUCCESS &&
                    (log.Type == WalletLogTypeEnum.ADD || log.Type == WalletLogTypeEnum.DEPOSIT))
                    ? "+" + log.Amount.ToString("N0") + "₫"
                    : (log.Type == WalletLogTypeEnum.SUBTRACT || log.Type == WalletLogTypeEnum.WITHDRAW)
                    ? "-" + log.Amount.ToString("N0") + "₫"
                    : log.Amount.ToString("N0") + "₫";

                    <div class="transaction d-flex justify-content-between align-items-center p-3 mb-2 bg-light rounded shadow-sm">
                        <div class="t-details flex-grow-1 ms-3">
                            <div class="d-flex align-items-center">
                                <div class="t-title text-black me-3">
                                    @log.Type
                                </div>
                            </div>
                            <div class="t-time text-black">
                                @log.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss")
                            </div>
                        </div>
                        <div class="d-flex flex-column align-items-center">
                            <div class="t-amount fw-bold @statusClass">
                                @amountText
                            </div>
                            <div class="t-current-balance text-black fw-bold">
                                SD: @(Convert.ToDecimal(log.Balance).ToString("N0"))₫
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
